<!DOCTYPE html>
<html>
	<body>
		<h3>Hi <%= @friend.first_name %></h3>

		<p><%= @user.full_name %> wants to be friends.</p>

		<p><%= link_to "Treebook", @url %></p>

		<p>Thanks,
		Treebook Team</p>
	</body>
</html>