<h2>Hi <%= @friend.first_name %></h2><br />

<h3><%= @user.full_name %> wants to be friends on Treebook. %></h3><br /><br />

<a href="https://sethoramabook.herokuapp.com" class="btn btn-primary">Be Friends</a><br /><br />

Thanks,
Treebook Team