<!DOCTYPE html>
<html>
	<body>
		<h3>HI <%= @user.first_name %></h3>

		<p>Great news! <%= @friend.full_name %> has accepted your friend request!</p>

		<p>Thanks,
		Treebook Team</p>
	</body>
</html>